{% extends "base.html" %}
{% load static %}
{% block extra_head %}
<style>
    div.card {
        border:0px;
        border-style: none;
        display: inline-block
    }
    div.card.spymaster-reveal{
        border:4px;
        border-style: solid;
    }
    div.card.blue_agent.spymaster-reveal {
        border-color: blue;
    }
    div.card.red_agent.spymaster-reveal {
        border-color: red;
    }

    div.card.assasain_agent.spymaster-reveal {
        border-color: green;
    }
    div.card.neutral_agent.spymaster-reveal {
        border:0px;
        border-style: none;
    }
    div.card.revealed {
        border:0px;
        border-style: none;
    }
    div.red_game_state {
        color: red;
        display: inline-block;
    }

    div.blue_game_state {
        color: blue;
        display: inline-block;
    }
    span.blue_agents_left {
        color: blue;
    }
    span.red_agents_left {
        color: red;
    }

    #game_stats {
        display: inline-block;
    }
    #game_state {
        font-size: 1.5em;
    }


div.container-fluid button {
    text-rendering: auto;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
    font: 400 11px system-ui;
    border: 1px solid #ddd;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    padding: 5px;
    background: #eee;
    cursor: pointer;
}
</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script>
let gameState = null;
let isSpymaster = false;

let cover_cards = {"blue": [], "red": [], "neutral": [], "assassin": ["/static/demo/agents/assassin.JPG"]};
for (let index=1; index < 9; index ++) {
    cover_cards["blue"].push("/static/demo/agents/blue_" + index+".JPG");
    cover_cards["red"].push("/static/demo/agents/red_" + index+".JPG");
    if (index < 5 ) {
        cover_cards["neutral"].push("/static/demo/agents/neutral_" + index+".JPG");
    }
}

$( document ).ready(function() {
    $("#next_game").click(nextGame);
    $("#end_session").click(endSession);
    $("#end_turn").click(endTurn);
    setInterval(getState, 5000)
    getState();
    $("#make_spymaster_link").click(makeSpymaster)
    $("div.card").on("click", function() {
        if ($(this).hasClass('revealed')) {
            return;
        }
       $('#imagepreview').attr('src', $(this).find('img').attr('src')); // here asign the image to the modal when the user click the enlarge link
       $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
       $('#imagemodal').data("agent_index", $(this).data('agent_index'))
    });
});

function makeSpymaster() {
    isSpymaster = true;
    $("#player_type").html("Spymaster");
    $("#make_spymaster_link").remove();
    $("#select_agent").remove();
    $.each(gameState["agents"], function(index) {
        card = $("div.card[data-agent_index='"+index+"']");
        card.addClass(this.agent + "_agent")
        card.addClass("spymaster-reveal")
    })
}
function nextGame() {
    $.post( "{% url 'next_game' session_name=session_name %}").done(function() {location.reload();});
}
function guess() {
    $.post( "{% url 'make_guess' session_name=session_name %}", {"agent_index": $('#imagemodal').data('agent_index')}).done(getState);
}

function endSession() {
    $.post( "{% url 'end_session' session_name=session_name %}").done(updateState);
}

function getState() {
    $.get( "{% url 'get_game_state' session_name=session_name %}").done(updateState);
}

function endTurn(){
    $.post( "{% url 'end_turn' session_name=session_name %}").done(getState);
}

function updateState(data) {
    if ("end_session" in data && data["end_session"]) {
        window.location.href = '{% url 'join_game' %}';
        return;
    }
    if (gameState === null) {
        gameState = data;
    } else if (data.game_id != gameState.game_id) {
        location.reload();
    }

    // Check to make sure its changed
    gameState = data;
    red_count = 0;
    blue_count = 0;
    neutral_count = 0;
    $.each(gameState["agents"], function(index) {
        if (this.revealed) {
            card = $("div.card[data-agent_index='"+index+"']");
            if (!card.hasClass('revealed')) {
                card.addClass('revealed');
                let cover_source = cover_cards[this.agent].shift();
                card.find("img").attr("src", cover_source);
            }
        } else {
            if (this.agent == "red") {
                red_count += 1;
            } else if(this.agent == "blue") {
                blue_count += 1;
            }
        }
    })

    game_stats = "<span class='red_agents_left'>" + red_count + "</span>" + " / " + "<span class='blue_agents_left'>" +
        blue_count + "</span>";
    $("#game_stats").html(game_stats);

    if (gameState["turn"]==="red") {
        game_state = "<div class='red_game_state'>Red's Turn</div>"
    } else if (gameState["turn"]==="blue") {
        game_state = "<div class='blue_game_state'>Blue's Turn</div>"
    } else if (gameState["turn"]==="blue_win") {
        game_state = "<div class='blue_game_state'>Blue Wins!</div>"
    } else if (gameState["turn"]==="red_win") {
        game_state = "<div class='red_game_state'>Red Wins!</div>"
    }
    $("#game_state").html(game_state);

    if (gameState["game_over"]) {
        $("#end_turn").attr("disabled", true);
        $("#select_agent").attr("disabled", true);
    }
}
</script>
{% endblock %}
{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-3 my-auto">Stats: <div id="game_stats"></div></div>
            <div class="col-4 offset-1 my-auto"><div id="game_state"></div></div>
            <div class="col-3 offset-1 my-auto"><button id="end_turn">End Turn</button></div>
        </div>
    </div>
    <br/>
    <div class="container-fluid">
        {% for card in game.get_playfield_cards %}
            {% if forloop.first %}
                <div class="row mb-2">
            {% endif %}
            <div class="col-2 px-1" data-agent_index="{{forloop.counter0}}">
                <div class="card" data-agent_index="{{forloop.counter0}}">
                    {% with card|stringformat:"i" as card_str %}
                        {% with "demo/cards/card_"|add:card_str|add:".jpg" as card_static_url %}
                            <img src="{% static card_static_url %}" class="img-fluid" width="100%" height="auto"></img>
                        {% endwith %}
                {% endwith %}
                </div>
            </div>
            {% if forloop.counter|divisibleby:5 %}
                </div><div class="row mb-2">
            {% endif %}
        {% endfor %}
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-3 my-auto">Role: <span id="player_type">Player</span></div>
            <div class="col-3 offset-5 my-auto">
                <button id="end_session">End Game Session</button>
                <button id="next_game">Next Game</button>
            </div>
        </div>
    </div>

    <a id="make_spymaster_link" href="#">Make me a spy master</a>
    <br/>
    <br/>

<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class = "modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-body">
        <img src="" id="imagepreview">
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal" id="select_agent" onclick="javascript:guess()">Select</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}